*{
    padding: 0;
    margin: 0;
    background-color:black;
    user-select: none;
    box-sizing: border-box;
}

.hero{
    height: 100vh;
}
.nav ul li a{
    display: inline;
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    font-family: "poppins", sans-serif;
}
.nav ul li a i{
    padding-right: 10px;
    color:orangered;
}
.nav ul{
    padding-left: 53%;
    padding-top: 20px;
    padding-bottom:20px;
}
.nav ul li{
    padding-right: 20px;
    font-size: large;
    color: black;
    display: inline;
}
/*----------this is for the navigation section-----------*/

.hero{
    height: 100vh;
}
.hero img{
    display: inline;
    float: left;
    height: 90vh;
    margin-left: 50px;
    margin-right: 100px;
}
/*-------this is for the image in the hero section----------*/
.hero .hinfo h3{
    word-spacing: 20px;
    padding-top: 50px;
    font-size: 100px;
    font-family: "poppins",sans-serif;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: orangered;
}
.hero .hinfo h1{
    word-spacing: 20px;
    padding-top: 25px;
    font-size: 100px;
    font-family: "poppins",sans-serif;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: orangered;
}
/*-------------this is for the name section in hero-------------*/
.hero .hinfo h2{
    color: #fff;
    font-size:50px;
    font-weight:bolder;
    font-family: "poppins", sans-serif;
    margin-left: 650px;
    padding-top: 20px;
}
/*----this is for the job role in the hero---------*/
.hero .hinfo h4{
    color: #fff;
    padding-left: 650px;
    padding-top: 20px;
    padding-right: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    gap: 100px;
}
/*--------this is for the info in the hero page--------*/
.hero .hinfo button{
    font-weight: bolder;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 50px;
    background: orangered;
    padding: 20px 45px 20px 45px;
    margin-bottom: 700px;
    border-radius: 50px;
}
.hero .hinfo button:hover{
    box-shadow: 0px 0px 50px orangered;
}
/*---------this is for the button in the hero page--------*/
.about{
    height: 120vh;
}
.about h1{
    display: inline;
    font-size: 50px;
    font-weight: bolder;
    font-family: "poppins",sans-serif;
    color: #fff;
    padding-left: 40%;
}
.about h2{
    display: inline;
    font-size: 50px;
    font-weight: bolder;
    font-family: "poppins",sans-serif;
    color: orangered;
    padding-left: 20px;
}
/*-----------this is for the main heading in the about section-----------------*/
.vnav{
    float: left;
    position: fixed;
    left: 20px;
    top: 100px;
    background: transparent;
}
.vnav button{
    margin-top: 50px;
    padding-top: 5px;
    padding-left: 5px;
    display: inline;
    display: flex;
    border-radius: 50px;
    background-color: black;
    color: orangered;
    width: 30px;
    height: 30px;
}
.vnav button a{
    display: none;
}
/*-------------this is for the button in vertical for all the page-------------*/
.vnav button:hover{
    box-shadow: 2px 2px 40px orangered;
    display: inline;
    display: flex;
    border-radius: 50px;
    color:white;
    width: 120px;
    height: 30px;
    border: 2px solid orangered;
}
.vnav button:hover a{
    display: inline;
    width: 30px;
    padding-left: 10px;
    height: 10px;
    color:white;
    display: list-item;
    text-decoration: none;
    border-radius: 100px;
}
/*------------this is for the hover effect in the vertical nav bar----------------*/
.about .intro{
    display: inline;
}
.about .intro p{
    color:#fff;
    margin-left: 250px;
    font-size: larger;
    margin-right: 250px;
}
.about .intro p b{
    font-weight: bolder;
    color: orangered;
    font-size: x-large;
}
/*-----this is for the paragraph in the about page---------*/
.about h6{
    margin-top: 30px;
    margin-left: 250px;
    font-size: x-large;
    color: #fff;
}
/*-----------------this is for the percentage skills---------------*/
.skill{
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 150px;
}
/*-------this is for the square for each skill------------*/
.skill .progress{
    box-shadow: 0px 0px 25px orangered;
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    color: white;
    background: #444 linear-gradient(to right, transparent 50%, var(--clr)0);
}
/*--------this is for the circle---------------*/
.skill .progress h4{
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    z-index: 1;
    font-weight: 500;
    background: transparent;
}
/*----------this is for the numeric percentage value------------------*/
.skill .progress h5{
    padding: 10px;
    font-size:small;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    font-weight: 500;
    color: var(--clr);
    background: transparent;
}
/*-------------this for the skill name-------------------------*/
.skill .progress::before{
    content: '';
    display: block;
    margin-left: 50%;
    transform-origin: left;
    height: 100%;
    border-radius: 0% 100% 100% 0/50%;
}
/*-------this uses before to add data before the contant--------------*/ 

.skill .progress::after{
    content: '';
    position: absolute;
    inset: 10px;
    border-radius: 50%;
    background: #222;
}
/*-----------this is for the data after the contant---------*/

/*----------this is only is the value of skill is less than 50%--------------*/
.skill .progress::before{
    background: var(--clr);
    transform: rotate(calc(((var(--i) - 50) * 0.01turn)));
}
.skill .progress.less::before{
    background: #444;
    transform: rotate(calc((var(--i)) * 0.01turn));
}
/*-------------this is for the percentage and skills----------*/
.education{
    height: 180vh;
}
.education h1{
    display: inline;
    font-size: 50px;
    font-weight: bolder;
    font-family: "poppins",sans-serif;
    color: #fff;
    padding-left: 35%;
}
.education h2{
    display: inline;
    font-size: 50px;
    font-weight: bolder;
    font-family: "poppins",sans-serif;
    color: orangered;
    padding-left: 20px;
}
/*----------this is for the education section----------*/

/*-------------this is for the card effect in the education for rathinam----------*/
.flip-card {
    margin-left: 150px;
    float: left;
    background-color: transparent;
    width: 500px;
    height: 75vh;
    border: 5px solid orangered;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
  /* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-image: url(rathinam-building.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #bbb;
    color: black;
}
/* Style the back side */
.flip-card-back {
    padding: 20px;
    color: white;
    transform: rotateY(180deg);
}
/*---------this is for the text in the card-------*/
.flip-card .flip-card-inner .flip-card-back h3{
    display: inline;
    font-size: x-large;
    background-color: transparent;
}
.flip-card .flip-card-inner .flip-card-back h4{
    display: inline;
    font-size: x-large;
    background-color: transparent;
    color: orangered;
}
.flip-card .flip-card-inner .flip-card-back button{
    padding: 10px;
    font-size: larger;
    font-weight: bold;
    background-color: orangered;
    margin-top: 10px;
}
/*------------this is for the text in the card of rathinam----------------*/

/*-------------this is for the card effect in the education for srinivasa----------*/
.flip-card1 {
    float: right;
    margin-right: 200px;
    background-color: transparent;
    width: 500px;
    height: 75vh;
    border: 5px solid orangered;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
  /* This container is needed to position the front and back side */
.flip-card-inner1 {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card1:hover .flip-card-inner1 {
    transform: rotateY(180deg);
}
/* Position the front and back side */
.flip-card-front1, .flip-card-back1 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
/* Style the front side (fallback if image is missing) */
.flip-card-front1 {
    background-image: url(srinivasa\ logo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #bbb;
    color: black;
}
/* Style the back side */
.flip-card-back1 {
    padding: 20px;
    color: white;
    transform: rotateY(180deg);
}
/*---------this is for the text in the card-------*/
.flip-card1 .flip-card-inner1 .flip-card-back1 h3{
    display: inline;
    font-size: x-large;
    background-color: transparent;
}
.flip-card1 .flip-card-inner1 .flip-card-back1 h4{
    display: inline;
    font-size: x-large;
    background-color: transparent;
    color: orangered;
}
.flip-card1 .flip-card-inner1 .flip-card-back1 button{
    padding: 10px;
    font-size: larger;
    font-weight: bold;
    background-color: orangered;
    margin-top: 10px;
}
/*------------this is for the text in the card for srinivasa----------------*/

/*-------------this is for the card effect in the education for amrita----------*/
.flip-card2 {
    margin-left: 460px;
    margin-top: 50px;
    float: left;
    background-color: transparent;
    width: 500px;
    height: 75vh;
    border: 5px solid orangered;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
  /* This container is needed to position the front and back side */
.flip-card-inner2 {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card2:hover .flip-card-inner2 {
    transform: rotateY(180deg);
}
/* Position the front and back side */
.flip-card-front2, .flip-card-back2 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
/* Style the front side (fallback if image is missing) */
.flip-card-front2 {
    background-image: url(amrita\ logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #bbb;
    color: black;
}
/* Style the back side */
.flip-card-back2 {
    padding: 20px;
    color: white;
    transform: rotateY(180deg);
}
/*--------this is for the text in the card-------*/
.flip-card2 .flip-card-inner2 .flip-card-back2 h3{
    display: inline;
    font-size: x-large;
    background-color: transparent;
}
.flip-card2 .flip-card-inner2 .flip-card-back2 h4{
    display: inline;
    font-size: x-large;
    background-color: transparent;
    color: orangered;
}
.flip-card2 .flip-card-inner2 .flip-card-back2 button{
    padding: 10px;
    font-size: larger;
    font-weight: bold;
    background-color: orangered;
    margin-top: 10px;
}
/*------------this is for the text in the card of amrita----------------*/

.project{
    height: 60vh;
}
.project h1{
    display: inline;
    font-size: 50px;
    font-weight: bolder;
    font-family: "poppins",sans-serif;
    color: #fff;
}
.project h2{
    display: inline;
    font-size: 50px;
    font-weight: bolder;
    font-family: "poppins",sans-serif;
    color: orangered;
    margin-left: 550px;
}
.project h3{
    color: #fff;
    font-size: x-large;
    margin-left: 33.6%;
    color: orangered;
}
/*----------this is for the entire projet section----------*/

.project .pro{
    display: inline;
}
.project .pro a .evo{
    float: left;
    display: inline;
    margin-top: 5%;
    height: 30vh;
    max-width: 30%;
    padding-left: 10%;
}
/*----------this is for the first project---------------*/

.project .pro a .nova{
    display: inline;
    float: left;
    margin-top: 3.7%;
    height: 30.2vh;
    max-width: 30%;
    padding-left: 10%;
}
/*--------this is for the second project--------------*/

.project .pro a .mini{
    display: inline;
    float: right;
    margin-top: 2.4%;
    margin-right: 10%;
    height: 30vh;
    max-width: 30%;
    padding-left: 10%;
}
/*--------this is for the third project--------------*/

/*------------this is for the contact page----------------*/
.contact h1{
    color:orangered;
    text-align: center;
    padding-top: 30px;
    font-size: 40px;
}
.contact b{
    color: white;
}
.contact h2{
    color: orangered;
    display: flex;
    justify-content: center;
}
/*---------------this is for the right github code in contact page-----------------------*/
.myd{
    float: right;
    background-color:orangered;
    width:45%;
    height: 80vh;
}
.myd .l1{
    background: transparent;
}
.myd .l1 i{
    font-size: xx-large;
    background: transparent;
    margin-top: 10vh;
    padding-left: 10%;
    display: inline;
}
.myd .l1 a{
    font-weight: bolder;
    text-decoration: none;
    font-size: xx-large;
    background: transparent;
    font-family: "poppins", sans-serif;
    padding-top: 5%;
    padding-left: 5%;
    color: black;
}
/*-----------this is for the right github in contact-----------*/

.myd .l2{
    background: transparent;
    margin-top: 10%;
}
.myd .l2 i{
    display: inline;
    float: left;
    font-size: xx-large;
    background: transparent;
    padding-left: 10%;
}
.myd .l2 a{
    font-weight: bolder;
    text-decoration: none;
    font-size: xx-large;
    background: transparent;
    font-family: "poppins", sans-serif;
    padding-left: 5%;
    color: black;
}
/*--------------------this is for the gmail in contact-------------*/

.myd .l3{
    background: transparent;
    margin-top: 10%;
}
.myd .l3 i{
    display: inline;
    float: left;
    font-size: xx-large;
    background: transparent;
    padding-left: 10%;
}
.myd .l3 a{
    text-decoration: none;
    font-weight: bolder;
    font-size: xx-large;
    background: transparent;
    font-family: "poppins", sans-serif;
    padding-left: 6%;
    color: black;
}
/*-------------this is for the linkedin id----------*/

.myd .l4{
    background: transparent;
    margin-top: 10%;
    margin-left: 20%;
}
.myd .l4 a{
    padding: 20px 40px;
    border-radius: 20px;
    text-decoration: none;
    font-size: xx-large;
    background: black;
    font-family: "poppins", sans-serif;
    color: white;
}
.myd .l4 a i{
    font-weight: bolder;
    padding-left: 5%;
}
.myd .l5{
    background: transparent;
    margin-top: 10%;
    margin-left: 20%;
}
.myd .l5 p{
    font-weight: bolder;
    font-size: xx-large;
    background: transparent;
    font-family: "poppins", sans-serif;
    padding-left: 20%;
    color: black;
}
/*-------this for the right side in the contact page-------------*/
.contact .conform{
    display: inline;
    float:left;
}
.contact .conform h4{
    color: #fff;
    margin-left: 15%;
    margin-top: 5%;
    font-size: larger;
    font-family: "poppins", sans-serif;
}
.contact .conform input{
    font-size: larger;
    color: #fff;
    margin-left: 15%;
    margin-top: 1%;
    padding: 1.5%;
    width: 40vw;
    border-radius: 50px;
    margin-bottom: 3%;
    margin-top: 1%;
}
.contact .conform textarea{
    resize: none;
    padding: 1.5%;
    color: #fff;
    width: 40vw;
    height: 20vh;
    margin-left: 15%;
    margin-top: 0.5%;
    margin-bottom: 1%;
    font-size: larger;
    border-radius: 20px;
}
.contact .conform .sub{
    color: #fff;
    background-color: orangered;
}
/*-------------this is for the left contact section------------*/

/*-------------------------------------------this is for 4K screen--------------------------------------------*/

@media  all and (max-width:375px) {
    
    
}